<!DOCTYPE html>
<html lang="en">
  <head>
    {% if site.google_analytics %}
      <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments)};
        gtag('js', new Date());

        gtag('config', '{{ site.google_analytics }}');
      </script>
    {% endif %}

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">

    <!-- Layout CSS -->
    <link rel="stylesheet" href="/assets/css/main.css">

    {% seo %}
  </head>
  <body>
    <nav class="navbar navbar-dark bg-dark">
      <a href="/" class="navbar-brand">{{ site.title }}</a>
    </nav>
    <br />
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-6 col-lg-9">
          {{ content }}
          <br />
        </div>
        <div class="col-12 col-md-6 col-lg-3">
          <div class="list-group">
            {% for post in site.posts %}
              <a class="list-group-item" href="{{ post.url }}">{{ post.title }}</a>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
