---
layout: default
---

<header>
  <h2>{{ page.heading }}</h2>
</header>

<small>{{ page.date | date: "%b %-d, %Y" }} {% if page.meta %} • {{ page.meta }}{% endif %}</small><br /><br />

<a href="https://twitter.com/VeryAngryDev" class="twitter-follow-button" data-show-count="false">Follow @VeryAngryDev</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

{{ content }}

<a href="https://twitter.com/VeryAngryDev" class="twitter-follow-button" style="margin-left: auto; margin-right: auto; display: block;" data-show-count="false">Follow @VeryAngryDev</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
